<app-nav-bar></app-nav-bar>

<div class="container">
  <div [formGroup]="form" class="form">
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Edad</mat-label>
      <input matInput formControlName="password">
      <mat-error *ngIf="isControlHasError('password','maxlength')">
        El campo debe contener máximo 15 caracteres
      </mat-error>
      <mat-error *ngIf="isControlHasError('password','pattern')">
        Solo se permiten números
      </mat-error>
      <mat-error *ngIf="isControlHasError('password','minlength')">
        El campo debe contener mínimo 10 caracteres
      </mat-error>
      <mat-error *ngIf="isControlHasError('password','required')">
        El campo es requerido
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="checkLogin()">Enviar</button>
  </div>

</div>
